<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="618275">  <td>22/03/03 13:23:31</td>   <td>0</td> <td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:testscripts.GenerateAuthTest@78e117e3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1259014228</td>   <td></td> </tr>
<tr bgcolor="618275">  <td>22/03/03 13:23:33</td>   <td>2129</td> <td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:testscripts.GenerateAuthTest@78e117e3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1259014228</td>   <td></td> </tr>
<tr bgcolor="72f59f">  <td>22/03/03 13:23:31</td>   <td>219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GenerateAuthTest.testGenerateAuth()[pri:0, instance:testscripts.GenerateAuthTest@78e117e3]">testGenerateAuth</td> 
  <td>main@1259014228</td>   <td></td> </tr>
</table>
